<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Duo">
	
	<insert id="insertDuoSearch">
		insert into duo values(duo_seq.nextval,${memberCode},${myPositionCode},${queueCode},${TierCode},#{summonerName},#{searchingPosition},#{memo},#{microphone},sysdate)
	</insert>
	
	<select id="selectDuoSearch" resultType="wm.spring.dto.DuoDTO">
		select d.*, q.name queuename, t.name tiername, p.name positionname from duo d
		join QUEUEKIND q on d.queuecode = q.code
		join TIERKIND t on d.tiercode = t.code
		join POSITIONKIND p on d.mypositioncode = p.code
	</select>
	
</mapper>